body {
    background: url(background.jpg);
}

.progress_bar {
    font-size: 125%;
    user-select: none;
    border: 2px double black;
    background: #fc3; 
    padding: 3px;
    border-radius: 9px;
    margin: 0;
    position: absolute;
    top: 2%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.button_cooking {
    user-select: none;
    position: absolute;
    margin: 10px;
    top: 10%;
    left: 43%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
    cursor: pointer;
}
.animation_cook_click {
    top: 11%;
    left: 42%;
}

.button_selling {
    user-select: none;
    position: absolute;
    margin: 10px;
    top: 10%;
    left: 56%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
    cursor: pointer;
}

.animation_sell_click {
    top: 11%;
    left: 55%;
}

.button_help {
    font-size: 125%;
    user-select: none;
    margin: 0;
    position: absolute;
    top: 6%;
    left: 95%;
    transform: translate(-50%, -50%);
    background:  #fc3;
    cursor: pointer;
    outline: none;
}

.cookie_counter {
    font-size: 150%;
    user-select: none;
    margin: 0;
    position: absolute;
    top: 6%;
    left: 5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.money_counter {
    font-size: 150%;
    user-select: none;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.upgrades {
    font-size: 125%;
    user-select: none;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.color {
    font-size: 75%;
    background:  #fc3;
    cursor: pointer;
}

.color:disabled {
    background: #DCDCDC;
}
